/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--normal-font-weight, 400);
  font-size: var(--main-font-size, 18px);
  color: var(--main-font-color, #000);
  background-image: var(--bd-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 100px;
}

.header-container {
  width: var(--header-width);
  margin: auto;
  background-color: var(--bg-color, #fff);
  font-family: var(--accent-font, sans-serif);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
  height: 368px;
  border: 2px solid var(--border-color, #000);
}

.header-container_title {
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

.header-container_text {
  font-size: clamp(0.875rem, 0.676rem + 0.85vw, 1.4375rem);
  text-transform: uppercase;
}



.content {
  margin: auto;
  width: clamp(min(100%, 375px), 50vw, 696px);
}

.top {
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap, 50px);
  overflow: hidden;
}

.card-container_item {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color, #000);
}

.card-container_title {
  font-variation-settings: "wght" var(--bold-font-weight);
  padding: 3px 24px 3px 10px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-wrapper_label {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-shadow, #fff),
    0 1px var(--text-shadow, #fff),
    1px 0 var(--text-shadow, #fff),
    0 -1px var(--text-shadow, #fff);;
}

@supports (text-stroke: 1px var(--text-shadow)) or (-webkit-text-stroke: 1px var(--text-shadow)) {
  .image-wrapper_label {
    text-shadow: none;
    text-stroke: 1px var(--text-shadow);
    -webkit-text-stroke: 1px var(--text-shadow);
  }
}

.bus_grayscale {
  filter: grayscale(50%);
}

.bus__saturate {
  filter: saturate(300%);
}

.bus_hue-rotate {
  filter: hue-rotate(180deg);
}

.bus_blur {
  filter: invert(100%);
}

.bus_sepia {
  filter: sepia(1);
}

.bus_invert {
  filter: blur(8px);
}

.bus_sepia-rotate {
  filter: sepia(1) hue-rotate(90deg);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.button-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  padding-top: 9px;
}

.like-icon {
  width: 27px;
  height: 24px;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  border: 2px solid var(--border-color, #000);
  padding: 12.5px 37px;
}

.save__button-wrapper {
  margin: auto;
  width: 335px;
  height: 51px;
  margin-top: 52px;
  margin-bottom: 105px;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
}

.save__button {
  background-color: var(--bg-color);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 15px 21px 15px 19px;
  border: 2px solid var(--border-color);
  text-wrap: nowrap;
}

.floppy {
  width: 21px;
  height: 21px;
}

.icon-floppy{
  width: 39px;
  height: 39px;
}

.modal[open] {
  width: clamp(min(100%, 341px), 50vw, 353px);
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 30px;
  overflow: hidden;
}

.modal::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.modal_title {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-text-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
}

.modal[open] .floppy {
  width: 39px;
  height: 39px;
}

.modal_button {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  border: 2px solid var(--border-color, #000);
  padding: 12.5px clamp(min(100%, 114.5px), 50vw, 132.5px);

}

@media (width <= 375px) {
  .save__button {
    flex-direction: column;
  }
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--border-color);
  transition: box-shadow 0.3s ease;
}

.button {
  position: relative;
  overflow: hidden;
  background: #ffffff;
  border: 2px solid #000000;
  padding: 8px 16px;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  transition: border-color 0.3s ease;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__text {
  position: relative;
  z-index: 2;
  color: #fff;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border-color);
  transition: outline 0.3s ease;
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}